*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    width: 100%;
    background: #dcdcdc;
}
img{
    width: 60px;
    max-width: 100%;
    height: 60px;
}
#wrapper{
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    background: white;
    flex-flow: row wrap;
    position: relative;
    height: 100%;
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: #000000a1;
    text-align: center;
}
.preloader{
    width: 100px;
    height: 100px;
    position: relative;
    top: 45%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    perspective: 500px;
}
.one-circle-1, .one-circle-2, .one-circle-3{
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.one-circle-3{
    animation: 1s anim alternate infinite;
    animation: 1s zoom linear infinite;
}
.one-circle-2{
    animation: 2s anim alternate infinite;
    animation: 2s zoom linear infinite;
}
.one-circle-1{
    animation: 3s anim alternate infinite;
    animation: 3s zoom linear infinite;
}
@keyframes anim{
    0% {transform: translate(0, 0)}
    50% {transform: translate(100px, 0)}
    100% {display:none;}
}
@keyframes zoom{
    0% {transform: translate3d(0, 0, -100px)}
    25% {transform: translate3d(-20px, 0, 0)}
    50% {transform: translate3d(0, 0, 100px)}
    75% {transform: translate3d(20px, 0, 0)}
    100% {transform: translate3d(0, 0, -100px)}
}
/* ----------------------top-navigation----------------------------- */
.top-navigation{
    background-color: #dcdcdc;
    overflow: hidden; 
    width: 100%;
    display: inline-block;  
    vertical-align: top;
}

.top-navigation a{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    padding: 0 16px;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
}
.top-navigation a:hover{
    background-color: #f5f5f5;
    color: black;
}
.top-navigation a.active{
    background-color: #f5f5f5;
    color: black;
}
/*---------------------------------------POLLUTION-----------------------------------*/
.pollution, .weather{
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height:50px;
}
.search::before{
    content: "\1F50E";
}
#search{
    border: 2 px;
    border-color: black;
    float: right;
    width: 300px;
    margin: 0 auto;
}
input{
    border: 1px solid #dcdcdc;
    outline: none;
    border-radius: 6px;
    width: 100%;
    height: 25px;
    background: white;
    padding-left: 15px;  
}

/*----------------------------------------CHARACT-----------------------------*/
.current-charact{
    width: 35%;
    height: 30%;
    top: 50px;
    float: left;
    margin: 0 15px 15px 0;
}
#city, #country{
    height: 30%;
    padding-left: 30px;
    font-size: 23px;
    display: inline-block;
    color: #696969;
}
#day, #sky, #preciptation, #humidity, #wind-speed{
    height: 30%;
    padding-left: 30px;
    font-size: 23px;
    display: block;
    color: #696969;
}
.prec-hum-wind{
    margin-left: 63%;
    float: left;
    margin: 0 15px 15px 0;
    width: 60%;
    height: 20%;
}
/*------------------------------------fFFFFff------------------------*/
.images{
    display: flex;
    padding-left: 30px;
    padding-top: 20%;
}
#left-temp{
    width: 20%;
    height: 20%;
}
#clouds{
    width: 100px;
    margin: 0 15px 15px 0;   
    vertical-align: middle;
}
#temp{
    font-size: 20px;
    color: #696969;
}
.navigate{
    margin-left: 40%;
    display: flex;
    margin: 20px;
    width: 100%;
    height: 10%;
    padding-top: 9%;
}
.navigate button{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#h3{
	top	: 200px;
	left: 0;
    width  : 10%;
    float: left;
    align-content: center;
    
}
.five-day-block{
    display: flex;
    margin: 5% auto;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.five-day-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#day-name{
    display: block;
    text-align: center;
    color: gray;
}
#re{
    display: block;
    width: 60%;
    padding: 0 20px;

}
#max{
    display: block;
    float: left;
    width: 50px;
}
#min{
    display: inline-block;
    padding-bottom: none;
}
#daily{
    display: flex;
    justify-content: space-around;
}
#weatherblock{
    display: block;
    max-height: 500px;
}
/*---------------------------SLIDER----------------*/

#slider{
    margin: 0 20px;
    height: 100px;
    display: inline-block;
    position: relative;
    width: 95%;
}
.slide{
    height: 100%;
    position: relative;
    display: none;
}
ul{
    list-style-type: none;
}
li{
    margin: 0;
    padding: 0;
}
.time-row {
	display: flex;
    justify-content: space-around;
    color: gray;
    margin: 0 5%;
}
.panel-active{
    display: block;
    background: gray;
}
.active{
    display:block;
}
.active-tab {
	display: flex;
}
#slide-temp-graphic {
    display: flex;
    flex-flow: column;
	flex-grow: 1;
	min-width: 320px;
}
.slide-temp-date {
    display: flex;
    border-bottom: 1px solid black;
	justify-content: space-around;
}

.slide-temp {
    display: flex;
    flex-direction: column-reverse;
    height: 69px;
}

.slide-temp-degrees-plus {
	height: 30px;
	background-color: gray;
}
.slide-temp-degrees-minus{
    height: -30px;
    background-color: gray;
}
.slide-wind__wind-speed {
	height: 70px;
	display: flex;
    flex-direction: column-reverse;
}
.slide-wind{
    display: flex;
	justify-content: space-around;
}
.wind-320-degrees {
	transform: rotate(320deg);
}

.rainfall-percentage {
    display: flex;
    flex-grow: 1;
	min-width: 320px;
	flex-flow: column;
}

.rainfall-percentage__rainfall-level {
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column-reverse;
}

.rainfall-level, .prec-value {
	height: 15px;
	border-top: 3px solid blue;
	background-color: dodgerblue;
}
/*-------------------------------------FOOTER--------------------------------*/
footer{
    background-color: gray;
    width: 100%;
    height: 20px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
@media (max-width: 600px){
    *{
        font-size: 16px;
    }
    .five-day-block{
        flex-wrap: wrap;
    }
    .five-day-one{
        min-width: 315px;
    }
    #slider{
        display: none;
    }
    .time-row{
        display: none;
    }
    .navigate{
        display: none;
    }
}
@media screen and (max-width: 400px){
    #wrapper{
        width: 100%;
        height: 100%;
    }
    *{
        font-size: 16px;
    }
    #day, #sky, #city, #country, #temp, #preciptation, #humidity, #wind-speed{
        font-size: 26px;
        margin: 0;
        padding-left: 5px;
    }
    #city, #day, #sky, #temp{
        color: black;
    }
    
    .current-charact{
        margin: 0;
        padding: 5px;
        width: 100%;
    }
    .images{
        padding-left: 0;
        margin: 0;
        width: 50%;
    }
    #clouds{
        width: 10%;
    }
    .prec-hum-wind{
        width: 90%;
    }
    input{
        border: 1px solid #dcdcdc;
        height: 15px; 
    }
    .top-navigation, .pollution{
        display: flex;
        align-content: flex-start;
        font-size: 16px;
    }
    .sticky-header{
        position: sticky;
        top: 0; 
    }
    .top-navigation a{
        font-size: 16px;
        padding: 3px 6px;      
    }
    footer{
        height: 15px;
        position: sticky;
    }
    .five-day-block{
        display: inline-block;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }
    .five-day-one{
        display: flex;
    }
    #search{
        margin-top: 3%;
        width: 80%;
    }
}