*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 800px;
}
img{
    width: 60px;
    max-width: 100%;
    height: 60px;
}
/* ----------------------TOPNAV----------------------------- */
.topnav{
    background-color: #dcdcdc;
    overflow: hidden; 
    width: 100%  
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #f5f5f5;
    color: black;
}
.topnav a.active{
    background-color: #f5f5f5;
    color: black;
}
/*---------------------------------------POLLUTION-----------------------------------*/
.pollution, .weather{
    background-color: #f5f5f5;
    overflow: hidden;
    height: 20px;
    padding: 10px;
}
form{
    border: 2 px;
    border-color: black;
    float: right;
    width: 300px;
    margin: 0 auto;
}
input{
    border: 2px solid #dcdcdc;
    outline: none;
    border-radius: 6px;
    width: 100%;
    height: 25px;
    background: white;
    padding-left: 15px;  
}
/*----------------------------------------CHARACT-----------------------------*/
.commcharact{
    width: 35%;
    height: 20%;
    top: 50px;
    float: left;
    margin: 0 15px 15px 0;
}
#place, #day, #sky, #preciptation, #humidity, #wind_speed{
    height: 30%;
    padding-left: 30px;
    font-size: 23px;
    display: block;
    color: #696969;
}
.widecharact{
    margin-left: 63%;
    float: left;
    margin: 0 15px 15px 0;
    width: 60%;
    height: 20%;
}
/*------------------------------------fFFFFff------------------------*/
.images{
    width: 30%;
    height: 20%;
    top: 50px;
    float: left;
    padding-left: 30px;
}
#left-temp{
    width: 85%;
    height: 60%
}
#clouds{
    display: inline-block;
    width: 100px;
    margin: 0 15px 15px 0;   
    vertical-align: middle;
}
#temp{
    font-size: 40px;
    color: #696969;
}
.navigate{
    margin-left: 40%;
    float: right;
    margin: 20px;
    width: 60%;
    height: 10%;
    padding-top: 20px;
}
.navigate button{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#floatpanel, #floatpanel2,#floatpanel3, .weatherblock{
    width: 100%;
    height: 20%;
    float: left;
}
.hidden-panel{
    visibility: hidden;
}

#h3{
	top	: 200px;
	left: 0;
    width  : 10%;
    float: left;
    align-content: center;
    
}
.weatherblock{
    display: table;
    max-width: 100%;
    margin: 0 20px;
}
.ya{
    display: table-row;
   
}
.yacell{
    display: table-cell;
    
}

#ratata{
    display: block;
    text-align: center;
    color: gray;
}
#re{
    display: block;
    width: 60%;
    padding: 0 auto;
}
#max{
    display: block;
    float: left;
    width: 50px;
}
#min{
    display: inline-block;
    padding-bottom: none;
}
/*---------------------------SLIDER----------------*/

#slider{
    margin: 0 20px;
    height: 100px;
    display: inline-block;
    position: relative;
    width: 95%;
}
.slide{
    height: 100%;
    position: relative;
}
ul{
    list-style-type: none;
}
li{
    margin: 0;
    padding: 0;
}
.time-row {
	display: flex;
    justify-content: space-around;
    color: gray;
}
.inset {
    color: black;
	display: flex;
    flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	display: none;
}
.active-tab {
	display: flex;
}
.temperature-graph-time {
    display: flex;
    flex-flow: column;
	flex-grow: 1;
	min-width: 320px;
}
.temperature-graph-numbers {
    display: flex;
    border-bottom: 1px solid black;
	justify-content: space-around;
}

.temperature-frame {
    display: flex;
    flex-direction: column-reverse;
    height: 69px;
}

.temperature-frame__14-degrees {
	height: 30px;
	background-color: gray;
}

/*-------------------------------------FOOTER--------------------------------*/
footer{
    background-color: gray;
    width: 800px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom:0;
}